<h1>Listing summoners</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Profileiconid</th>
      <th>Revisiondate</th>
      <th>Summonerlevel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @summoners.each do |summoner| %>
      <tr>
        <td><%= summoner.id %></td>
        <td><%= summoner.name %></td>
        <td><%= summoner.profileIconId %></td>
        <td><%= summoner.revisionDate %></td>
        <td><%= summoner.summonerLevel %></td>
        <td><%= link_to 'Show', summoner %></td>
        <td><%= link_to 'Edit', edit_summoner_path(summoner) %></td>
        <td><%= link_to 'Destroy', summoner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summoner', new_summoner_path %>
