<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @summoner.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @summoner.name %>
</p>

<p>
  <strong>Profileiconid:</strong>
  <%= @summoner.profileIconId %>
</p>

<p>
  <strong>Revisiondate:</strong>
  <%= @summoner.revisionDate %>
</p>

<p>
  <strong>Summonerlevel:</strong>
  <%= @summoner.summonerLevel %>
</p>

<%= link_to 'Edit', edit_summoner_path(@summoner) %> |
<%= link_to 'Back', summoners_path %>
